/* add font */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); */
/*  */

/* body {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #2b5876, #4e4376);
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
} 
*/
.test {
  background-color: black;
}

/* submit style */
.submit-bt {
  display: flex;
  align-content: center;
  justify-content: center;

  width: 100%;
  padding-bottom: 25%;
}
.submit {
  width: 50%;
  border-radius: 0.3rem;
}
/* hover */
.submit:hover {
  width: 53%;
  border-radius: 0.3rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/*  */


.flex {
  display: flex;
}
.shadow--border {
  border-radius: 0.3rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
form {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
}


.inputs__container {
  /* background-color: aqua; */
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input__container {
  width: 90%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  /* align-items:center; */
}
.input__container label {
  display: block;
}
.input--err {
  padding: 0;
  display: block;
  border: 1px solid red;
  border-radius: 0.2rem;
}

.input-- {
  padding: 0;
  display: block;
  border: 1px solid #2d3436;
  border-radius: 0.2rem;
}

.pading--input {
  padding: 0.3rem;
  margin: 0.3rem;
}

/* hover */
/*  */
.message {
  display: flex;
  flex-direction: row;
}
.err-message {
  margin: 0;
  padding: 0;
}
.fa-square-check {
  color: rgb(29, 199, 29);
  /* display: none; */
}
.fa-xmark {
  color: rgb(172, 11, 11);
  /* display: none; */
}
.display--none {
  display: none;
}
/*  */
/* Custom Shape Dividers */
.custom-shape-divider-bottom-1658566049 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658566049 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 111px;
}

.custom-shape-divider-bottom-1658566049 .shape-fill {
  fill: #74b9ff;
}
/* Custom Shape Dividers */
